{% extends 'jamii/layout.html' %}
{% block title %} Blog | Jamii {% endblock title %}
{% block content %}
    <div class="container">
        <h3>Blog</h3>
        <div class="pt-3">
            {% for post in posts %}
                <div class="card mb-3 pt-3">
                      <img src="{{ post.cover.url }}" class="card-img-top" alt="{{ post.title }}">
                      <div class="card-body">
                        <a href="{% url 'blog_detail' post.slug  %}">
                            <h5 class="card-title">{{ post.title }}</h5></a>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}