{% extends 'jamii/layout.html' %}
{% block title %} Events | Jamii {% endblock title %}
{% block content %}
<div id="events_banner">

</div>
<div class="container mt-5">
    <h1 class="intro text-white">Events</h1>

    <div class="row">
            {% for event in event %}
                <div class="col-sm-4 pt-4 pb-4">
                    <div class="card" style="width: 18rem;">
                       <img src="{{ event.event_cover.url }}" class="card-img-top" alt="{{ event.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }} - {{ event.date }}</h5>
                            <p class="card-text">{{ event.description|slice:":65"|safe }}...</p>
                            <a href="{% url 'event_detail' event.slug  %}" class="btn cta text-white">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock content %}