{% extends 'jamii/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Explorer | Jamii {% endblock title %}
{% block content %}

{% if export_obj %}

    {% for obj in export_obj %}
    <div class="div">{{obj.Export_Industry}}</div>
    <div class="div">{{obj.Export_From }}</div>
    <div class="div">{{obj.Export_To }}</div>
    <div class="div">{{ obj.Export_Prohibitions | safe}}</div>
    <div class="div">{{ obj.Export_License | safe}}</div>
    <div class="div">{{ obj.Export_Sanitary_Phytosanitary_Measures | safe}}</div>
    <div>{{ obj.Export_Taxes | safe }}</div>
    {% endfor %}
   
    <a class="btn btn-danger btn-block" href="{% url 'explorer' %}">Back for search</a>
{% else %}
<div class="container">
    <form method="POST" action="trade_explorer"  enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
        <br/>
        <button type="submit" class="btn cta btn-block text-white">Search</button>
    </div>
    </form>
</div>

{% endif %}
{% endblock content %}

