{% extends 'jamii/layout.html' %}
{% block title %} News | Jamii {% endblock title %}
{% block content %}
    <div id="news_banner">

    </div>
    <h1 class="intro text-white">News</h1>
    <div class="container mt-5 mb-5">


         <div class="row">
            {% for new, des, i, url, author in mylist %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                       <img src="{{ i }}" class="card-img-top" alt="{{ new }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ new }}</h5>
                            <p class="card-text">{{ des }}</p>
                            <a href="{{ url }}" class="btn cta text-white">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}