{% extends 'jamii/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Login | Jamii {% endblock title %}
{% block content %}
    <div class="signup_section container">
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <br/>
        <div class="form-group"><button class="btn cta text-white" type="submit">Reset Password</button></div>
    </form>
    </div>

{% endblock content %}