body{
    margin: 0;
    padding: 0;
    color: rgb(85, 79, 68);
    min-height: 100vh;
    font-family: 'Lato', sans-serif;

}

#banner {
    background-image: url("bg.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.intro{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#introduction h3, #afcfta_intro h3{
    color: rgb(107, 128, 94);
}

#introduction{
    padding-top: 25vh ;
}

.cta{
    background-color: rgb(107, 128, 94);
    margin-bottom: 3vh;
}


#afcfta_intro{
    background-color: rgb(249, 247, 244);
    padding-top: 20vh;
}

#afcfta_intro img:hover{
    cursor: pointer;
}

#news_intro{
    background-color: rgb(249, 247, 244);
    padding-top: 5vh;
}

#contact_banner{
    background-image: url("contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

#footer{
    background-color: #505f46;
}
#footer h5{
    color: yellow !important;
}
#footer a{
    color: white;
    text-decoration: none;
}

#footer a:hover{
    color: yellow;
}

.signup_section{
    margin-top: 10vh;
}

#mc_embed_signup h2{
    padding-top: 8vh;
}

#mc_embed_signup .button {
    background-color: rgb(107, 128, 94);
}

#mc_embed_signup .button:hover{
    background-color: rgb(80, 95, 70);
}

#notification{
    padding-top: 8vh;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}


#about_banner{
    background-image: url("AfCFTA.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center;
}

.aboutpage_intro{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about_intro{
    padding-top: 20vh;
}

.event_banner{
    height: 55vh;
}

#id_Export_Industry, #id_Export_From, #id_Export_To{
    max-width: 500px !important;
}

.card {
    /* Added */
        float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
}

#explorer_banner{
    background-image: url("explorer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
}

#explorer_intro{
    background-color: rgb(249, 247, 244);
}

a{
    color: rgb(107, 128, 94);
}

#blog_banner{
    background-image: url("blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
}

#glossary_banner{
    background-image: url("glossary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
    background-position: center;
}

#events_banner{
    background-image: url("events.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
}

#opportunity_banner{
    background-image: url("opportunity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
}

#news_banner{
    background-image: url("news.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
    background-position: bottom;
}


#subscribe_banner{
    background-image: url("subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
    background-position: center;
}

input{
    max-width: 500px;
}

.blog_intro{
    padding-top: 5vh;
}